In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("C:\my_data_science\input_data_adition.csv")

In [5]:
data.head()

      x     y   sum
0   1.0   1.0   2.0
1   4.0   4.0   8.0
2   6.0   6.0  12.0
3  10.0  10.0  20.0
4  30.0  30.0  60.0

In [8]:
X = data[['x','y']]
y = data['sum']

In [12]:
X.head()

      x     y
0   1.0   1.0
1   4.0   4.0
2   6.0   6.0
3  10.0  10.0
4  30.0  30.0

In [11]:
y.head()

0     2.0
1     8.0
2    12.0
3    20.0
4    60.0
Name: sum, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.33,random_state=42)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
model = LinearRegression()

In [22]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
model.score(X_train,y_train)

1.0

In [24]:
model.score(X_test,y_test)

1.0

In [25]:
##predict results
y_pred = model.predict(X_test)

In [28]:
df_pred = pd.DataFrame({'Actual':y_test,'Prediction':y_pred})

In [30]:
df_pred

    Actual  Prediction
0      2.0         2.0
13   112.9       112.9
8     68.0        68.0
1      8.0         8.0
15   900.0       900.0
5     66.0        66.0
20   169.4       169.4
11   334.0       334.0

In [31]:
model.predict([[100.2,210.3]])

array([310.5])

In [32]:
model.coef_

array([1., 1.])

In [33]:
model.intercept_

-5.684341886080802e-14

In [36]:
model.predict([[5,6]])

array([11.])

In [37]:
import pickle

In [41]:
with open('C:/my_data_science/models/addition_model_pickle','wb') as f:
    pickle.dump(model,f)

In [42]:
with open('C:/my_data_science/models/addition_model_pickle','rb') as f:
    mp = pickle.load(f)

In [43]:
mp.predict([[2000,34]])

array([2034.])

In [45]:
pip install joblib

Requirement already satisfied: joblib in c:\users\ramra\anaconda3\lib\site-packages (0.13.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.3.3; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\ramra\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [46]:
from sklearn.externals import joblib

In [47]:
joblib.dump(model,'C:/my_data_science/models/addition_model_joblib')

['C:/my_data_science/models/addition_model_joblib']

In [48]:
model_joblib_object = joblib.load('C:/my_data_science/models/addition_model_joblib')

In [49]:
model_joblib_object.predict([[2000,34]])

array([2034.])